// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '~bootstrap-icons/font/bootstrap-icons';

.navbar {
    &.navbar-dark {
        .container {
            .collapse {
                .navbar-nav {
                    .nav-item{
                        .nav-link{
                            color: white;
                        }
                    }
                }
            }
            .navbar-toggler {
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e</svg>");
                }
            }
        }
    }
}

.navbar{
    .container{
        .collapse{
            .navbar-nav{
                .nav-item{
                    .dropdown-menu{
                        background-color: #2c3033;
                        border-radius: 30px;
                        width: 80px;
                        &:hover{
                            background-color: #fd2232;
                        }

                        .dropdown-item{
                            color: white;
                            text-align: center;
                            &:hover{

                                border-radius: 30px;
                                background-color: #fd2232;
                            }
                        }
                    }
                }
            }
        }
    }
}

.customPagination{
    .d-none{
        .pagination {
            .page-item {
                &.active{
                    .page-link{
                        background-color: #fd2232;
                        color: white;
                        border: #fd2232;
                        z-index: 0;
                    }
                }
            }
        }
    }
}

.customPagination{
    .page-link {
        background-color: #2c3033;
        color: white;
    }
    .page-item {

        &.disabled {

            .page-link {
                background-color: #414448;
                color: white;
            }

        }

    }
}

h3 {
    &.alert {
        &.alert-success {
            opacity: 1;
            display: block;
            -webkit-transition: opacity $fade-delay ease-in-out;
            -moz-transition: opacity $fade-delay ease-in-out;
            -ms-transition: opacity $fade-delay ease-in-out;
            -o-transition: opacity $fade-delay ease-in-out;
            transition: opacity $fade-delay ease-in-out;
            &.fadeout {
                opacity:0;
            }
        }
        span {
            .bi-x-circle-fill {
                cursor: pointer;
            }
        }
    }
}

.navbar-nav{
    .nav-item {
        &:hover{
            background-color: #fd2232;
            border-radius: 30px;
        }
        &.active {
            background-color: #fd2232;
            border-radius: 30px;
        }
    }
}

@media (max-width: 767px) {
    .navbar-nav{
        .nav-item {
            &:hover{
                background-color:  #fd2232;
                border-radius: 30px;
                width: 80px;
                text-align: center;
            }
            &.active {
                background-color: #fd2232;
                border-radius: 30px;
                width: 80px;
                text-align: center;
            }
        }
    }
}



nav{
    &.navbar{
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

.btn-danger {
    background-color: #fd2232;
    border-color: #fd2232;
    &:hover{
        background-color: #b91d28;
        border-color: #b91d28;
    }
}






@media (max-width: 767px) {
    .edit-img {
        display: flex;
        justify-content: center;
    }
}
